{% extends 'base.html.twig' %}

{% block title %}Commune index{% endblock %}

{% block body %}
    <h1>Communes</h1>

    <table class="table table-striped table-hover mb-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_com</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commune in communes %}
            <tr>
                <td>{{ commune.id }}</td>
                <td>{{ commune.nomCom }}</td>
                <td>
                    <a href="{{ path('commune_show', {'id': commune.id}) }}" class="btn btn-secondary mx-3">afficher</a>
                    <a href="{{ path('commune_edit', {'id': commune.id}) }}" class="btn btn-primary">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">pas de données récupérées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('commune_new') }}" class="btn btn-success">Ajouter Nouveau</a>
{% endblock %}
